.buttonMail{
position:fixed;
top:37%;
right:5%;
}
#contrastButton{
position:fixed;
right:5%;
top:49%;
font-weight:bold;
color:blue;
}
#buttonFontSize{
position:fixed;
top:57%;
right:4%;
font-weight:bold;
color:green;
}
.buttonMenu{
position:fixed;
top:65%;
right:5%;
}

.bodyContrast{
}
.bodyContrast.Natural{
background-color:black; color: white;
}
.bodyContrast.FontSize{
font-size:25px
}

h1 {color: red;
      background-color: black;
      text-align:center      
}	
p{ text-align:leftt;
  }
td{text-align:center;
}
<!--cascad for Paragraph --!>

.bigTable{ 
border:solid; 
border-color:red;
 
} 
.margine{
border-style:inset; padding-left:15px; 
padding-bottom:15px;
border-width:10px;
border-color: orange; 
background-color:white
 }
.bolivar{
border-width:5px 0px 20px 30px;
border-style: groove none dotted ridge ;
padding: 0%10% 0% 20%;
 
border-color: black black red blue ;
 

background-color:orange;
font-style: italic;
font-weight:bolder;
font-size:20px;
margin-bottom: 5px

}
.trigger{
text-indent:10%
}
  